<div class="footer">
    <div class="footersocial">
        <i class="fa-brands fa-square-instagram"></i>&nbsp;&nbsp;
        <i class="fa-brands fa-facebook"></i>&nbsp;&nbsp;
        <i class="fa-brands fa-square-twitter"></i>&nbsp;&nbsp;
    </div>
    <div class="footerinfo">
        <i class="fa-solid fa-copyright"></i>
        VillaFind Cooperation Limited
    </div>
    <div class="footerterms">
        <a href="#">Privacy</a>&nbsp;&nbsp;
        <a href="#">Terms</a>
    </div>
</div>