<% layout('/layouts/boilerplate') -%>

<div class="row">
    <div class="alert alert-danger col-md-6 Offset-md-2 alertError " role="alert">
        <h4>&nbsp;&nbsp;&nbsp;<%= status %>,<%= message %></h4>
      </div>
</div>